/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap') */

body {
  font-family: "Inter", sans-serif;
}

.bodydiv {  
  width: 400px;  
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.checkout {
  background: #ffffff;
  padding: 32px 24px 40px 24px;
}
.label {
  padding: 16px 16px 8px 16px;
  display: flex; 
   gap: 4px;  
}
.label2 {
  color: #595959;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
}
.div {
  color: #eb5757;
  font-size: 14px;
  font-weight: 400;
}
.frame {
  padding: 8px 16px 16px 16px;
}
.frame2 {
  border: 1px solid #ababab;
  border-radius:4px;
  padding: 12px;
}
.enter-text {
  color: #0f172a;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}
input[type=text]{
  border:unset;
  width: 100%;
  font-family: inherit;
}
.label3 {
  padding: 16px 16px 8px 16px;
}
.radio {
  padding: 8px 16px 8px 16px;
  display: flex;
   gap: 6px;
}
.button {
   height: 16px; 
}

.radio-button {
  color: #595959; 
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  font-family: inherit;
}
.button2 {
  height: 16px; 
}
.sign-up {
  background: #ffffff;
  padding: 32px 24px 40px 24px;
}
.input2 {
  padding: 16px;
}
.checkbox {
  padding: 8px 16px 8px 16px;
  display: flex; 
  gap: 8px; 
  align-items: center; 
}
.checkbox2 {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}
.address {
  background: #ffffff;
  padding: 32px 24px 40px 24px;
}
.label-no {
  padding: 16px 16px 8px 16px;
}
.frame3 {
  border: 1px solid #ababab;
  border-radius:4px;
  padding: 12px;
}
.select-country {
  color: #0f172a;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}
.trip {
  background: #ffffff;
  padding: 32px 24px 40px 24px;
}
.radio-toggle {
  display: flex; 
  gap: 24px; 
}
.radio2 {
  padding: 8px 16px 8px 16px;
  display: flex; 
   gap: 6px; 
}
.select-option {
  color: #0f172a;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}
.mm-dd-yyyy {
  color: #0f172a;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
 }
